# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\damya\Desktop\SoftUni\Hibernate\Retake-05-12-2020\Instagraph Lite_Skeleton\skeleton\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
